---
layout: default
---

<style>
    /* Fix anchor padding introduced by navbar */
    .markdown [id]::before {
        content: '';
        display: block;
        height: 75px;
        margin-top: -75px;
        visibility: hidden;
    }

    /* Improve heading size (too large in materialize) */
    .markdown h1 {
        font-size: 3.2rem;
    }

    .markdown h2 {
        font-size: 2.9rem;
    }

    .markdown h3 {
        font-size: 2.6rem;
    }

    .markdown h4 {
        font-size: 2rem;
    }

    /* Fix overflow on code blocks */
    .markdown .highlight {
        overflow-x: auto;
    }

    /* Restore default list style for lists in markdown */

    /* Display table of contents in floating mode if screen is large enough */
    .markdown {
        padding: 0 2em 20em 2em;
    }

    @media screen and (min-width: 830px) {
        .markdown {
            position: absolute;
            left: 20em;
            right: 0;
        }

        .toc {
            position: fixed;
            top: 100px;
            left: 2em;
        }

        .markdown h2 {
            margin-left: 1rem;
        }

        .markdown h3 {
            margin-left: 2rem;
        }

        .markdown h4 {
            margin-left: 4rem;
        }
    }
</style>



<main class="markdown">
    <h1>{{page.title}}</h1>
    <blockquote>{{page.description}}</blockquote>

    <aside class="toc">
        <div>
            <strong>Table of contents</strong>
            {{content | toc_only}}
        </div>
    </aside>

    {{content}}
</main>

<script>
    function createCopyButton(code) {
        const button = document.createElement("button");
        button.classList.add("btn");
        button.style.position = "absolute";
        button.style.right = "0px";
        button.style.top = "8px";
        button.innerHTML = `<i class="material-icons">content_copy</i>`;
        button.onclick = () => copyTextToClipboard(code);
        return button;
    }
    document.addEventListener("DOMContentLoaded", () => {
        const codeBlocks = document.querySelectorAll(".highlight");
        codeBlocks.forEach(block => {
            const parent = block.parentElement;
            parent.style.position = "relative";
            parent.appendChild(createCopyButton(block.innerText));
        })
    })
</script>