---
layout: default
---

<style>
    #markdown-container [id]::before {
        content: '';
        display: block;
        height: 75px;
        margin-top: -75px;
        visibility: hidden;
    }
</style>

<nav id="slide-out" class="sidenav" aria-label="Table of Contents" style="color: black; width: auto">
    {% include toc.html %}
</nav>

<a href="#" data-target="slide-out" style="top: 80px; left: 16px; position: fixed"
    class="sidenav-trigger btn btn-floating waves-effect waves-light {{site.palette.ternary.color}} {{site.palette.ternary.shade}}">
    <i class="material-icons">class</i>
</a>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const options = {};
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, options);
    });
</script>

<main id="markdown-container" class="container">{{content}}</main>