---
layout: default
---

<style>
    #search-form {
        margin: 15px auto 0 auto;
    }

    #showcase {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    @media screen and (max-width: 740px) {
        #showcase .card {
            width: 100%
        }
    }

    @media screen and (min-width: 740px) {
        #search-form {
            max-width: 70%
        }

        #showcase .card {
            width: 50%
        }
    }

    @media screen and (min-width: 1540px) {
        #search-form {
            max-width: 50%
        }

        #showcase .card {
            width: 30%
        }
    }

    .card-icon {
        max-height: 4em;
        max-width: 4em;
        padding: 0.5em;
    }
</style>

<div class="container">
    <form id="search-form" style="display: flex">
        <div class="input-field" style="flex: 1; margin-right: 1em">
            <input id="search-query" type="text" class="validate" placeholder="{{page.search_placeholder}}">
            <label for="name">Name</label>
        </div>
        <div class="input-field col s2">
            <button class="btn waves-effect waves-light {{site.palette.primary.color}} {{site.palette.primary.shade}}"
                type="submit" name="action">Search</button>
        </div>
    </form>

    <main id="showcase"></main>
</div>


<script>
    const cardsJson = `{% for page in site.pages %}{% if page.layout == "template" and page.title %}
    {
    "title": {% if page.title %}{{page.title | jsonify}}{% else %}""{% endif %},
    "description": {% if page.description %}{{page.description | jsonify}}{% else %}""{% endif %},
    "icons": {% if page.icons %}{{page.icons | jsonify}}{% else %}[]{% endif %},
    "link": {{page.url | jsonify}},
    "repository": {% if page.repository %}{{page.repository | jsonify}}{% else %}null{% endif %}
    },
    {% endif %}{% endfor %}`.trim().slice(0, -1);

    const cards = JSON.parse(`[${cardsJson}]`);
    console.log(cards);

    function similitudeScore(search, base) {
        if (!base) return 0;

        const normalizedSearch = search.toLowerCase().replace(/([^\w]|_)/g, " ").replace(/\s+/g, " ").trim().split(" ");
        const normalizedBase = base.toLowerCase().replace(/([^\w]|_)/g, " ").replace(/\s+/g, " ").trim();
        let score = 0;
        for (let word of normalizedSearch) {
            if (normalizedBase.includes(word)) {
                score += 1;
            }
        }
        return score;
    }

    function queryScore(query, card) {
        let score = 0;
        score += 2 * similitudeScore(query, card.title);
        score += 1 * similitudeScore(query, card.description);
        return score;
    }

    function displayCards(cards) {
        const showcase = document.getElementById("showcase");
        showcase.innerHTML = "";
        for (let card of cards) {
            let icons = "";
            for (let icon of (card.icons || [])) {
                icons += `<img src="${icon}" alt="${icon}" class="card-icon">`;
            }

            const copyRepoLink = card.repository ? `<a href="#" class="btn waves-effect waves-light {{site.palette.ternary.color}} {{site.palette.ternary.shade}} right" data-copy="${card.repository}">Copy reference</a>` : '';
            showcase.innerHTML += `
            <div class="card small">
                <div class="card-content">
                    <h2 class="card-title">${card.title}</h2>
                    <div style="display: flex">${icons}</div>
                    <p>${card.description}</p>
                </div>

                <footer class="card-action">
                    <a class="btn waves-effect waves-light {{site.palette.primary.color}} {{site.palette.primary.shade}}" href="${card.link}">Documentation</a>
                    ${copyRepoLink}
                </footer>
            </div>
            `;
        }
        reloadListeners("#showcase");
    }

    function submitSearch(evt) {
        const searchInput = document.querySelector('#search-query');
        const query = searchInput.value;

        // workout search score for all cards
        const results = cards
            .map(card => ({ card, score: queryScore(query, card) }))
            .filter(result => result.score > 0)
            .sort((result1, result2) => (result1.score < result2.score) ? -1 : 1)
            .map(result => result.card);

        displayCards(results);

        // clear input after query has been done
        searchInput.value = "";
        evt.preventDefault();
    }

    document.addEventListener("DOMContentLoaded", () => {
        displayCards(cards);
        document.getElementById('search-form').addEventListener('submit', submitSearch);
    })
</script>