<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/assets/css/syntax_highlighting.css">
    <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- custom javascript -->
    <script src="/assets/js/clipboard.js"></script>
    <!--<script src="/assets/js/controllers.js"></script>-->

    <style>
        ul>li {
            padding-left: 8px;
        }

        .highlight {
            border-radius: 5px;
            padding: 4px 16px;
        }
    </style>
</head>

<body>
    <header style="position: fixed; left:0; right: 0">
        <nav style="position: relative; padding: 0 8px"
            class="blue darken-1">
            <div class="nav-wrapper">
                <a href="#" data-target="slide-out" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
                <a href="/" class="brand-logo left"
                    style="display: flex; height: 100%; align-items: center; width: 300px;">
                    <img src="/assets/git_templates_icon.png" alt="git-template-icon"
                        style="max-height: 40px; margin-right: 0.5em">
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    
<li>
    <a href="/">
        
        <i class="material-icons left">search</i>
        
        Browse templates
    </a>
</li>

<li>
    <a href="/about">
        
        <i class="material-icons left">help</i>
        
        About
    </a>
</li>

                </ul>
            </div>
        </nav>
    </header>

    <main style="padding-top: 50px; padding-bottom: 2em">
        <style>
    #markdown-container [id]::before {
        content: '';
        display: block;
        height: 75px;
        margin-top: -75px;
        visibility: hidden;
    }

    #markdown-container h1 {
        font-size: 3.2rem;
    }

    #markdown-container h2 {
        font-size: 2.9rem;
        margin-left: 1rem;
    }

    #markdown-container h3 {
        font-size: 2.6rem;
        margin-left: 2rem;
    }

    console.log(codeBlocks);
    : 2.3rem;
    margin-left: 3rem;
    }

    #markdown-container h4 {
        font-size: 2rem;
        margin-left: 4rem;
    }

    #markdown-container .highlight {
        overflow-x: auto;
    }

    #markdown-container ul {
        list-style-type: disc;
        list-style-position: inside;
    }

    #markdown-container ul>li {
        list-style-type: disc;
        list-style-position: inside;
    }
</style>

<main id="markdown-container" class="container">
    <h1>Python FastAPI</h1>

    <blockquote>Python self-documented REST API using FastAPI.</blockquote>

    <h2>Table of contents</h2>
    <ul id="table-of-contents">
    <ul id="toc" class="browser-default">
<li class="toc-entry toc-h2"><a href="#quickstart">Quickstart</a>
<ul class="browser-default">
<li class="toc-entry toc-h3"><a href="#requirements">Requirements</a></li>
<li class="toc-entry toc-h3"><a href="#installation">Installation</a></li>
</ul>
</li>
<li class="toc-entry toc-h2"><a href="#usage">Usage</a>
<ul class="browser-default">
<li class="toc-entry toc-h3"><a href="#develop">Develop</a></li>
</ul>
</li>
</ul>
</ul>

    <h2 id="quickstart">Quickstart</h2>

<h3 id="requirements">Requirements</h3>

<ul>
  <li><strong>python &gt;= 3.6</strong></li>
  <li><strong>pipenv</strong>: to manage python dependencies during development.</li>
  <li><strong><a href="https://github.com/sylvanld/git-improved">git-improved</a></strong>: to install and use template</li>
</ul>

<h3 id="installation">Installation</h3>

<ul>
  <li>First, install this template locally using <a href="https://github.com/sylvanld/git-improved">git improved</a>.</li>
</ul>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="syntax"><code>git template install <span class="nt">&lt;alias&gt;</span> https://github.com/sylvanld-templates/python-api
</code></pre></div></div>

<ul>
  <li>Then you can initialize a project from this template</li>
</ul>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="syntax"><code>git setup <span class="nt">&lt;directory&gt;</span> --template <span class="nt">&lt;alias&gt;</span>
</code></pre></div></div>

<h2 id="usage">Usage</h2>

<h3 id="develop">Develop</h3>

<ul>
  <li>Start server in development mode</li>
</ul>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="syntax"><code>pipenv run serve
</code></pre></div></div>

</main>

<script>
    function createCopyButton(code) {
        const button = document.createElement("button");
        button.classList.add("btn");
        button.style.position = "absolute";
        button.style.right = "0px";
        button.style.top = "8px";
        button.innerHTML = `<i class="material-icons">content_copy</i>`;
        button.onclick = () => copyTextToClipboard(code);
        return button;
    }
    document.addEventListener("DOMContentLoaded", () => {
        const codeBlocks = document.querySelectorAll(".highlight");
        codeBlocks.forEach(block => {
            const parent = block.parentElement;
            parent.style.position = "relative";
            parent.appendChild(createCopyButton(block.innerText));
        })
    })
</script>
    </main>
</body>


<nav id="slide-out" class="sidenav" aria-label="Table of Contents" style="color: black; width: auto">
    <ul>
        <li style="max-height: 64px" class="blue darken-1">
            <img src="/assets/git_templates_icon.png" style="max-height: 40px; margin: 1em 0.5em">
        </li>
        
<li>
    <a href="/">
        
        <i class="material-icons left">search</i>
        
        Browse templates
    </a>
</li>

<li>
    <a href="/about">
        
        <i class="material-icons left">help</i>
        
        About
    </a>
</li>

    </ul>
</nav>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const options = {};
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, options);
    });
</script>


<script>
    function copyDataToClipboard() {
        const dataToCopy = this.getAttribute("data-copy");
        copyTextToClipboard(dataToCopy);
    }

    /*
    *   Helpers functions
    */
    function bind(parent, selector, listener) {
        const nodeList = [];
        try {
            nodeList.push(...parent.querySelectorAll(selector));
        } catch {
            [...parent].map(elt => nodeList.push(...elt.querySelectorAll(selector)));
        }
        [...nodeList].map(elt => elt.addEventListener('click', listener));
    }

    function unbind(parent, selector, listener) {
        const nodeList = [];
        try {
            console.log(parent)
            nodeList.push(...parent.querySelectorAll(selector));
        } catch {
            console.log('fallback to list');
            [...parent].map(elt => nodeList.push(...elt.querySelectorAll(selector)));
        }
        console.log(nodeList);
        [...nodeList].map(elt => elt.removeEventListener('click', listener));
    }

    /*
    *   Function to cleanly (re)bound controllers listeners
    */
    function reloadListeners(selector) {
        // workout root
        const parent = selector ? document.querySelectorAll(selector) : document;
        console.log('reload controllers in element', parent);

        // bind copyToCliboard to copiables elements
        unbind(parent, '[data-copy]', copyDataToClipboard);
        bind(parent, '[data-copy]', copyDataToClipboard);
    }

    /*
    *   When DOM is loaded, bind all listeners
    */
    document.addEventListener('DOMContentLoaded', () => {
        reloadListeners();
    })
</script>

</html>