<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/assets/css/syntax_highlighting.css">
    <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <style>
        ul>li {
            padding-left: 8px;
        }

        .highlight {
            border-radius: 5px;
            padding: 4px 16px;
        }
    </style>
</head>

<body>
    <header style="position: fixed; left:0; right: 0">
        <nav style="position: relative; padding: 0 8px"
            class="blue darken-1">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo left" style="display: flex; align-items: center">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/f/fb/Template_icon.svg"
                        alt="git-template-icon" style="max-height: 30px; margin-right: 0.5em">
                    Git Templates
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    
                    <li><a href="/">Browse templates</a></li>
                    
                    <li><a href="/about">About</a></li>
                    
                </ul>
            </div>
        </nav>
    </header>

    <main style="padding-top: 50px; padding-bottom: 2em">
        <nav id="slide-out" class="sidenav" aria-label="Table of Contents" style="color: black; width: auto">
    <ul id="table-of-contents">
    <ul id="toc" class="sidenav-close">
<li class="toc-entry toc-h1"><a href="#accréditation-anonyme-et-coloriage-de-graphe">Accréditation anonyme et coloriage de graphe</a>
<ul class="browser-default">
<li class="toc-entry toc-h2"><a href="#preuve-à-divulgation-nulle-de-connaissance">Preuve à divulgation nulle de connaissance</a>
<ul class="browser-default">
<li class="toc-entry toc-h3"><a href="#contexte">Contexte</a></li>
<li class="toc-entry toc-h3"><a href="#echanges-en-suivant-ce-protocole">Echanges en suivant ce protocole</a></li>
<li class="toc-entry toc-h3"><a href="#questions">Questions</a></li>
</ul>
</li>
<li class="toc-entry toc-h2"><a href="#usage">Usage</a>
<ul class="browser-default">
<li class="toc-entry toc-h3"><a href="#pré-requis">Pré-requis</a></li>
<li class="toc-entry toc-h3"><a href="#graphe-3-coloriable">Graphe 3 coloriable</a></li>
<li class="toc-entry toc-h3"><a href="#utilisateur">Utilisateur</a></li>
</ul>
</li>
</ul>
</li>
</ul>
</ul>
</nav>

<a href="#" data-target="slide-out" style="top: 80px; left: 16px; position: fixed"
    class="sidenav-trigger btn btn-floating waves-effect waves-light blue darken-1">
    <i class="material-icons">class</i>
</a>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const options = {};
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, options);
    });
</script>

<main class="container"><h1 id="accréditation-anonyme-et-coloriage-de-graphe">Accréditation anonyme et coloriage de graphe</h1>

<h2 id="preuve-à-divulgation-nulle-de-connaissance">Preuve à divulgation nulle de connaissance</h2>

<h3 id="contexte">Contexte</h3>

<ul>
  <li>
    <p>Un utilisateur souhaite convaincre un vérificateur qu’il connaît une manière
de colorier entièrement un graphe avec 3 couleurs de telle façon qu’aucun
nœud du graphe n’ait la même couleur que l’un des nœuds voisins.</p>
  </li>
  <li>
    <p>Il ne doit révéler aucune autre information à propos de ce coloriage.</p>
  </li>
</ul>

<h3 id="echanges-en-suivant-ce-protocole">Echanges en suivant ce protocole</h3>
<p><img src="docs/echanges.png" alt="diagramme d'echanges" /></p>

<h3 id="questions">Questions</h3>

<ol>
  <li><em>Pourquoi est ce que si l’utilisateur et le vérificateur sont honnêtes et suivent les directives du protocole, un utilisateur possédant la preuve d’un 3-coloriage pourra toujours convaincre le vérificateur (propriété de completeness) ?</em></li>
</ol>

<p>Si l’utilisateur et le verificateur sont honnêtes, le calcule du hashé de (ri, ci) est bien égal à yi par construction. Et lors du challenge, une solution valide vérifie nécessairement ci != cj.</p>

<ol>
  <li><em>Pourquoi est ce qu’un utilisateur qui ne possède pas de preuve d’un 3-coloriage ne pourra pas réussir à convaincre un vérificateur, sauf avec une probabilité négligeable (propriété de soundness) ?</em></li>
</ol>

<p>L’étape d’<code class="language-html highlighter-rouge">engagement</code> impose que les couleurs des noeuds doivent être fixées avant d’effectuer la <code class="language-html highlighter-rouge">mise en gage</code>. L’utilisateur qui ne connait pas de coloriage doit donc en tirer un aléatoirement.</p>

<p>Puis lors d’un challenge, le vérificateur demande les couleurs associées à 2 noeuds. La probabilité que ces 2 noeuds de la réponse (choisies aléatoirement par l’utilisateur) soient de couleur identique est d’environ 1/3. La probabilité de succès (ie: les noeuds voisins sont de couleur différente) pour l’utilisateur est donc d’environ 2/3.</p>

<p>En <strong>répétant</strong> ce schéma (permutation + engagement + challenge + réponse) <strong>400 fois</strong>, la probabilité de succès pour l’utilisateur ne connaissant pas de solution est donc de</p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="syntax"><code>p = (2/3)^400 ~ 3.7 x 10^(-71)
</code></pre></div></div>

<p>Les chances pour qu’une solution déterminée aléatoirement puisse tromper le vérificateur sont donc infimes.</p>

<ol>
  <li><em>Expliquer en quoi ce protocole est à divulgation nulle (zero-knowledge en anglais), c’est à dire qu’il n’apporte aucune autre information au vérificateur de la véracité de l’énoncé</em></li>
</ol>

<p><strong>Engagement</strong>: le verificateur ne reçoit que la <code class="language-html highlighter-rouge">mise en gage</code>, dans laquelle les informations des couleurs des noeuds sont hashées avec un sel. <code class="language-html highlighter-rouge">Cette donnée seule n'apporte aucune information</code>.</p>

<p><strong>Défi</strong>: le vérificateur envoie les indices de 2 noeuds adjacents. (pas d’information concernant l’utilisateur)</p>

<p><strong>Réponse</strong>: L’utilisateur renvoie les clés (sel, couleur) de 2 noeuds sélectionnés au hasard par le verificateur. Puisque les couleurs ont étés permutés, la véritable <strong>couleur</strong> des noeuds <strong>n’est pas divulguée</strong>.</p>

<p>Puisque les couleurs sont permutées et demandées 2 à 2, un espion ne pourrait pas établir de corrélations entre les couleurs du graphe se basant sur les N itérations.</p>

<p>Aucune information concernant la solution de l’utilisateur n’a donc été transmise.</p>

<h2 id="usage">Usage</h2>

<h3 id="pré-requis">Pré-requis</h3>

<p>Pour utiliser ce projet, il est nécessaire d’installer numpy.</p>

<h3 id="graphe-3-coloriable">Graphe 3 coloriable</h3>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="syntax"><code>class Graphe3Coloriable(size=20):
 |  
 |  random_adjacency(self)
 |      Calcule aléatoirement une matrice d'adjacence.
 |  
 |  random_adjacent_nodes(self)
 |      Renvoie les indices de 2 noeuds adjacents du graphe
</code></pre></div></div>

<h3 id="utilisateur">Utilisateur</h3>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="syntax"><code>class Utilisateur(graphe):
 |  
 |  Objet simulant un utilisateur permettant
 |  de tester l'algorithme d'échange de 3-coloriage
 |  
 |  Methods defined here:
 |  
 |  __init__(self, graphe)
 |      Construit un utilisateur ayant connaissance
 |      d'un 3-coloriage du graphe donné.
 |  
 |  donnerCouleurs(self, i, j)
 |      Renvoie les couleurs permutées et le hashés des noeuds i et j.
 |  
 |  envoyerMiseEnGage(self, verificateur)
</code></pre></div></div>

<p>### Verificateur</p>
<div class="language-html highlighter-rouge"><div class="highlight"><pre class="syntax"><code> class Verificateur(graphe):
 |  
 |  Objet simulant un utilisateur permettant
 |  de tester l'algorithme d'échange de 3-coloriage
 |  
 |  Methods defined here:
 |  
 |  __init__(self, graphe)
 |      Construit un vérificateur ayant connaissance
 |      d'un 3-coloriage du graphe donné.
 |  
 |  choisirNoeuds(self)
 |      Choisi aléatoirement un couple de noeuds adjacent.
 |  
 |  demanderCouleurs(self, utilisateur, i, j)
 |      Demande la couleur du noeud i,j à l'utilisateur.
</code></pre></div></div>
</main>
    </main>
</body>

</html>